<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" [nzBodyStyle]="{'max-height': '365px', 'overflow': 'hidden scroll'}">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="modalForm">

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">First Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input first name!">
          <nz-input-group >
            <input type="text" nz-input formControlName="firstName" placeholder="First Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Last Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input last name!">
          <nz-input-group >
            <input type="text" nz-input formControlName="lastName" placeholder="Last Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Id Card</nz-form-label>
        <nz-form-control nzErrorTip="Please input id card!">
          <nz-input-group >
            <input type="text" nz-input formControlName="idCard" placeholder="Id Card" maxlength="12"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Birth Day</nz-form-label>
        <nz-form-control nzErrorTip="Please input birth day!">
          <nz-input-group >
            <nz-date-picker formControlName="birthDay" placeholder="Birth Day" 
              style="width: 100%"></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Gender</nz-form-label>
        <nz-form-control nzErrorTip="Please input gender name!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a gender" [(ngModel)]="modalForm.value.gender"
            formControlName="gender">
            <nz-option *ngFor="let data of gender" nzLabel="{{data.label}}" nzValue="{{data.value}}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Phone</nz-form-label>
        <nz-form-control nzErrorTip="Please input phone!">
          <nz-input-group >
            <input type="text" nz-input formControlName="phone" placeholder="Phone"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Email</nz-form-label>
        <nz-form-control nzErrorTip="Email has been used or invalid">
          <nz-input-group >
            <input type="text" nz-input formControlName="email" placeholder="Email"
              />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true" style="width: 25%; text-align: left;">Password</nz-form-label>
        <nz-form-control nzErrorTip="Please input password">
          <nz-input-group >
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
  <div *nzModalFooter>
    <div nz-row>
      <div nz-col nzSpan="4">
        <div class="float-left">
          <button nz-button nzType="default" (click)="handleCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div nz-col nzSpan="20">
        <div class="float-right ml-2">
            <button
            *ngIf="!isEdit && mode ==='detail'"
             nz-button nzType="primary"
            (click)="changeEdit(true)">Edit</button>
          </div>
          <div class="float-right ml-2">
            <button *ngIf="isEdit" nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isLoading">
              Save
            </button>
          </div>
          <div class="float-right ml-2">
            <button *ngIf="isEdit && mode === 'detail'" nz-button nzType="default" (click)="changeEdit(false)">
              Cancel
            </button>
          </div>
        <div class="float-right ">
          <button *ngIf="mode === 'detail'" nz-button (click)="deleteItem()" [nzLoading]="isLoading" nzType="primary"
            nzDanger>
            Delete
          </button>
        </div>
   
    
      </div>
    </div>
  </div>
</nz-modal>
