<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Hành lý trả trước'" (nzOnCancel)="handleCancel()"
    [nzBodyStyle]="{'height': '65vh', 'overflow': 'hidden scroll', 'width': '75vw'}" nzWidth="75vw">
    <ng-container *nzModalContent>
        <ng-container *ngFor="let data of flightData">
            <p>Chuyến bay chiều đi</p>
            <p>VN 155 Hà Nội (HAN), Việt Nam đến Đà Nẵng (DAD), Việt Nam</p>
            <div class="mt-5">
                <div class="row mb-5 justify-content-sm-between">
                    <div style="display: hidden;" class="col col-sm-5 w-25">
                        <h6>Hành khách</h6>
                        <h6 class="d-inline">
                            <p>Số kiện: 1</p>
                            <p>0 VND</p>
                        </h6>
                    </div>
                    <div class="col col-md-6 w-25 p-0 mr-5 text-center">
                        <p>{{baggageList[0].serviceName}}</p>
                        <p>{{baggageList[0].cost}} VND</p>
                    </div>
                    <div class="col col-md-6 w-25 p-0 text-center">
                        <p>{{baggageList[1].serviceName}}</p>
                        <p>{{baggageList[1].cost}} VND</p>
                    </div>
                </div>
                <ng-container *ngFor="let item of passengerList">
                    <div class="row mb-5 justify-content-sm-between align-center">
                        <div class="col col-sm-5 w-25">
                            <h6>{{item.firstName}} {{item.lastName}}</h6>
                            <h6 class="d-inline">
                                <span>Số kiện: {{item.baggageList.length }}</span>
                            </h6>
                            <h6>{{calcCostBaggage(item.id) | number}} VND</h6>
                        </div>
                        <div class="col col-md-6 w-25 p-0 mr-5">
                            <div class="text-center">
                                <button class="w-20" nz-button nzType="default">{{countBaggage(baggageList[0].id,
                                    item.id)}}</button>
                                <button (click)="addBaggage(baggageList[0].id, item.id, data.id)" class="w-20" nz-button
                                    nzType="default">+</button>
                                <button (click)="minusBaggage(baggageList[0].id, item.id)" class="w-10" nz-button
                                    nzType="default">-</button>
                            </div>
                        </div>
                        <div class="col col-md-6 w-25 p-0">
                            <div class="text-center">
                                <button class="w-20" nz-button nzType="default">{{countBaggage(baggageList[1].id,
                                    item.id)}}</button>
                                <button (click)="addBaggage(baggageList[1].id, item.id, data.id)" class="w-20" nz-button
                                    nzType="default">+</button>
                                <button (click)="minusBaggage(baggageList[1].id, item.id)" class="w-10" nz-button
                                    nzType="default">-</button>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </ng-container>
    </ng-container>

    <div *nzModalFooter>
        <div nz-row>
            <div nz-col nzSpan="4">
            </div>
            <div nz-col nzSpan="20">
                <div class="float-right ml-2">
                    <button *ngIf="!isEdit && mode ==='detail'" nz-button nzType="primary"
                        (click)="changeEdit(true)">Cập nhật giỏ hàng</button>
                </div>
                <div class="float-right ml-2">
                    <button *ngIf="isEdit" nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isLoading">
                        Thêm vào giỏ hàng
                    </button>
                </div>
                <div class="float-right ml-2">
                    <button nz-button nzType="default" (click)="changeEdit(false)">
                        Hủy
                    </button>
                </div>
            </div>
        </div>
    </div>
</nz-modal>
