.carousel-wrapper{
    height: calc(34vw - 3px);
    position: relative;
}


::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-list, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list{
    display: table;
    width: 100%;
    margin-bottom: none;
}
::ng-deep
    .ant-tabs-tab{
        display: table-cell;
        text-align: center;
    }



::ng-deep.ant-tabs-content-holder{
    padding:20px
}