<div class="carousel-wrapper">
    <nz-carousel nzAutoPlay>
        <div nz-carousel-content >
            <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/img/traveler-asian-woman-traveling-walking-bangkok-thailand.jpg" alt="">
        </div>
        <div nz-carousel-content >
            <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/img/airport-terminal.jpg" alt="">
        </div>
      </nz-carousel>
      <router-outlet></router-outlet>
  
</div>