<div class="container">
  <nz-tabset>
    <nz-tab nzTitle="{{ flightData[0].fromLocation }} đến {{
        flightData[0].toLocation
      }}">
      <div nz-row>
        <div nz-col nzSpan="12">
          <h3>Hành khách</h3>
          <ng-container *ngFor="let item of passengerInfo">
            <button (click)="changePassengerId(item.id)" class="card mb-3">
              <h5>{{ item.firstName }} {{ item.lastName }}</h5>
            </button>
          </ng-container>
        </div>
        <div nz-col nzSpan="12">
          <h3>Ghi chú</h3>
          <ng-container *ngFor="let rank of rankList">
            <div>
              <span class="align-middle" nz-icon nzType="cloud" nzTheme="outline"></span>
              <span class="align-middle">{{ rank.rankName }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <nz-card style="width:700px;" nzTitle="{{flightData[0].planeName}}">
        <div nz-row [nzGutter]="1">
          <div class="text-center" *ngFor="let item of ticketData1" nz-col nzSpan="4">
            <button class="mb-5" [disabled]="item.isReserved"
              (click)="chooseTicket(item.id, item.flightId, item.rankId)" [nzSize]="'large'" nz-button nzType="default">
              {{ item.code }}
            </button>
          </div>
        </div>
      </nz-card>
    </nz-tab>

    <nz-tab *ngIf="!(ticketData2.length === 0)" nzTitle="{{ flightData[1].fromLocation }} đến {{
        flightData[1].toLocation
      }}">
      <div nz-row>
        <div nz-col nzSpan="12">
          <h3>Hành khách</h3>
          <ng-container *ngFor="let item of passengerInfo">
            <button (click)="changePassengerId(item.id)" class="card mb-3">
              <h5>{{ item.firstName }} {{ item.lastName }}</h5>
            </button>
          </ng-container>
        </div>
        <div nz-col nzSpan="12">
          <h3>Ghi chú</h3>
          <ng-container *ngFor="let rank of rankList">
            <div>
              <span class="align-middle" nz-icon nzType="cloud" nzTheme="outline"></span>
              <span class="align-middle">{{ rank.rankName }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <nz-card style="width:700px;" nzTitle="{{flightData[1].planeName}}">
        <div nz-row [nzGutter]="1">
          <div *ngFor="let item of ticketData2" nz-col nzSpan="4">
            <button class="mb-5" [disabled]="item.isReserved"
              (click)="chooseTicket(item.id, item.flightId, item.rankId)" [nzSize]="'large'" nz-button nzType="default">
              {{ item.code }}
            </button>
          </div>
        </div>
      </nz-card>
    </nz-tab>
  </nz-tabset>
  <button (click)="checkPassengerChooseTicket()" nz-button nzType="primary" class="float-end mt-5">
    Tiếp tục
  </button>
</div>
