<nz-layout>
    <nz-sider nzWidth="200px"nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <ul nz-menu  nzTheme="dark"  nzMode="inline" class="sider-menu">
            <li nz-menu-item [routerLink]="'location'">
              <span nz-icon nzType="environment" class="mr-2" nzTheme="outline"></span>
              Location</li>
            <li nz-menu-item [routerLink]="'airline'">
              <span nz-icon nzType="trademark" class="mr-2" nzTheme="outline"></span>
              Airline</li>

            <li nz-menu-item [routerLink]="'plane'">
              <span nz-icon nzType="global" class="mr-2" nzTheme="outline"></span>
              Plane</li>
            <li nz-menu-item [routerLink]="'flight'">
              <span nz-icon nzType="file-done" class="mr-2" nzTheme="outline"></span>
              Flight</li>

            <li nz-menu-item [routerLink]="'payment'">
              <span nz-icon nzType="dollar-circle" class="mr-2" nzTheme="outline"></span>
              Payment</li>


            <li nz-menu-item [routerLink]="'rank'">
              <span nz-icon nzType="gold" class="mr-2" nzTheme="outline"></span>
              Rank</li>


            <li nz-menu-item [routerLink]="'promotion'">
              <span nz-icon nzType="credit-card" class="mr-2" nzTheme="outline"></span>
              Promotion</li>

        <li nz-menu-item [routerLink]="'passenger'">
          <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
          <span>Admin</span>
        </li>
        <li nz-menu-item [routerLink]="'service'">
          <span nz-icon nzType="solution" nzTheme="outline"></span>
          <span>Service</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <!-- <nz-content>Content</nz-content> -->
      <router-outlet></router-outlet>
    </nz-layout>
