<nz-page-header
  class="site-page-header"
  nzTitle="Airline Management"
></nz-page-header>
<div nz-row>
  <div nzSpan="8" style="padding: 0px 24px">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="mb-2">
      <input type="text" nz-input placeholder="Search..." />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
</div>
<nz-table
  #filterTable
  [nzData]="listOfData"
  nzTableLayout="fixed"
  [nzFrontPagination]="true"
  [nzShowPagination]="true"
  [nzLoading]="isLoading"
  [nzScroll]="{ y: scrollY }"
>
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of filterTable.data">
      <tr (click)="goToDetail(data)">
        <td>{{ data.airlineName }}</td>
      </tr>
    </ng-container>

  </tbody>
</nz-table>

<div class="btn--fab" (click)="goToCreate()">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
  <!-- <i class="fas fa-plus-circle cursor-pointer"></i> -->
</div>
<app-airline-modal
  #modalBase
  (onDeleteItem)="onDeleteItem($event)"
  (onCreateItem)="onCreateItem($event)"
  (onUpdateItem)="onUpdateItem($event)"
></app-airline-modal>
