<nz-page-header
  class="site-page-header"
  nzTitle="Location Management"
></nz-page-header>
<div nz-row style="padding: 0px 24px">
  <div nzSpan="8">
    <input type="text" nz-input placeholder="input search text"
    (input)="onSearch($event)"
    />
    <!-- <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()"><span nz-icon nzType="search"></span></button>
    </ng-template>
    <ng-template #suffixIconSearch onclick="">
      <span nz-icon nzType="search"></span>
    </ng-template> -->
  </div>
</div>
<nz-table
  #filterTable
  [nzData]="listOfData"
  nzTableLayout="fixed"
  [nzFrontPagination]="true"
  [nzShowPagination]="true"
  [nzLoading]="isLoading"
  [nzScroll]="{ y: scrollY }"
>
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns; trackBy: trackByMethod">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of filterTable.data">
      <tr (click)="goToDetail(data)">
        <td>{{ data.locationName }}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<div class="btn--fab" (click)="goToCreate()">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
  <!-- <i class="fas fa-plus-circle cursor-pointer"></i> -->
</div>
<app-location-modal
  #modalBase
  (onDeleteItem)="onDeleteItem($event)"
  (onCreateItem)="onCreateItem($event)"
  (onUpdateItem)="onUpdateItem($event)"
></app-location-modal>
