<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Trà sữa'" (nzOnCancel)="closeModal()"
  [nzBodyStyle]="{'height': '65vh', 'overflow': 'hidden scroll', 'width': '75vw'}" nzWidth="75vw">
  <ng-container *nzModalContent>
    <ng-container *ngFor="let data of flightData">
      <p>Chuyến bay chiều đi</p>
      <p>{{data.flightNo}}: {{data.fromLocation}} đến {{data.toLocation}}</p>
      <div class="mt-5">

        <ng-container *ngFor="let item of passengerInfo">
          <div class="row mb-5 ml-3 justify-content-sm-around mb-5">
            <div class="col col-sm-5 w-25">
              <button class="card mb-3">
                <h5>{{item.firstName}} {{item.lastName}}</h5>
                <h5>CHỌN BỮA ĂN</h5>
              </button>
            </div>

            <ng-container *ngFor="let e of item.milkTeaList">
              <div *ngIf="e.flightId == data.id" class="col col-md-6 card w-25 p-0">
                <img width="100%" height="100%" style="object-fit:cover" class="rounded mx-auto d-block"
                  src="../../../assets/img/VNairline.webp" alt="">
                <h3>{{e.serviceName}}</h3>
                <p class="text-center">{{e.cost}} VND/Ly</p>
                <div class="text-center">
                  <button (click)="addMilkTea(item.id, data.id, e.id)" class="w-70" nz-button
                    nzType="default">{{e?.isChoose ? 'Không lựa chọn' : 'Thêm'}}</button>
                </div>
              </div>
            </ng-container>

          </div>
        </ng-container>

      </div>
    </ng-container>

  </ng-container>

  <div *nzModalFooter>
    <div nz-row>
      <div nz-col nzSpan="4">
      </div>
      <div nz-col nzSpan="20">
        <div class="float-right ml-2">
          <button *ngIf="!isEdit && mode ==='detail'" nz-button nzType="primary" (click)="addToCart()">Cập nhật giỏ
            hàng</button>
        </div>
        <div class="float-right ml-2">
          <button *ngIf="isEdit" nz-button nzType="primary" (click)="addToCart()" [nzLoading]="isLoading">
            Thêm vào giỏ hàng
          </button>
        </div>
        <div class="float-right ml-2">
          <button nz-button nzType="default" (click)="closeModal()">
            Hủy
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-modal>
