<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/VNA_logo_vn.webp" width="200" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>
        <ul class="navbar-nav" *ngIf="(getUser() | async) as user; else login">
          <li class="nav-item" style="display: flex; align-items:baseline">
            <span class="mr-1" nz-icon nzType="user" nzTheme="outline"></span>
            <span class="mr-1"> {{user.name}}</span>
            <span (click)="logout()">Log out</span>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <ng-template #login>
          <ul class="navbar-nav" >
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                  nz-popover
                  [(nzPopoverVisible)]="isVisibleLogin"
                  nzPopoverTitle="Login"
                  nzPopoverTrigger="click"
                  [nzPopoverContent]="contentTemplate">Sign in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/customer/register'" href="#">Register</a>
                </li>
          </ul>
        </ng-template>

      </div>
    </div>

    <ng-template #contentTemplate>
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="mail">
              <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or
        <a>register now!</a>
      </form>
    </ng-template>
  </nav>
